

<body style="padding-top:0px">       
  
  <div style="color:#999999;width:900px;margin:0 auto;">
  <% if @tracks.present? %>
    <h2>开信分析<small>(<%= @track_data.track_num %>次数|<%= @track_data.peo_num %>人次)</small>
     <small style="float: right;">导出CSV</small>
    </h2>
    <table class="table table-striped">
      <thead class="focus-thead">
        <tr>
          <th>会员信息</th>
          <th>最近开信时间</th>
          <th>开信次数</th>
        </tr>
      </thead>
      <tbody>
        <% @tracks.each do |track| %>
          <tr>
            <td><%= track.member ? "#{track.member.name} <#{track.member.email}>" : "-" %></td>
            <td><%= track.last_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
            <td><%= track.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  
    <div class="focus-center"><%= will_paginate @tracks,:previous_label => "上一页",:next_label => "下一页" %></div>
  <% else %>
   <div class="focus-center" style="min-height:300px;">开信记录为空！</div>
  <% end %>
  </div>
</body>
