<%= form_for([@template, @entry], :html => { :multipart => true, :class => 'form-horizontal' }, :remote => true) do |f| %>
  <fieldset>

    <%= render :partial => "common/form_error", :locals => { model: @entry } %>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
    <% if params[:entry_type]=="entry_image" || @is_image %>
    
        <% if @is_image %>
				      <div class="controls">
				      <%= image_tag(@img_path, :size => "120x150") %>
				      </div>
        <% end %>
        
        <%= label_tag :image, "Image", :class => 'control-label' %>
        <div class="controls">
        <img id="blah" src="#" /><br>
        </div>
        <div class="controls">
        <%= file_field_tag :image, :onchange => "readURL(this)", :accept => 'image/png,image/gif,image/jpeg,image/jpg', :class => 'text-field' %>
        
     <% else %>
     
        <%= f.label :default_value, :class => 'control-label' %>
        <div class="controls">
        <%= f.text_field :default_value, :class => 'text_field' %>
      <% end %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :id => 'entry_submit', :class => 'btn btn-primary' %>
      <a onclick="$('.template_form').html('');return false;", class='btn'>Cancel</a>
    </div>
  </fieldset>
<% end %>

<script type="text/javascript">
function readURL(input) {
  if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {                     
      $('#blah').attr('src', e.target.result);
      $('#blah').attr('width', "150");                 
      } 
    reader.readAsDataURL(input.files[0]);             
   } 
   setTimeout("$('#entry_submit').focus()",500);
  }    
</script> 
