
<% if @clicks.present? %>
<div class="header">链接点击分析<small>(<%= @clicks.first().campaign.subject %>)(<%= @click_data.click_num %>次数|<%= @click_data.peo_num %>人次)</small></div>
<table class="table table-striped">
  <thead class="focus-thead">
    <tr>
      <th>链接名称</th> 
      <th>会员信息</th>
      <th>最近点击时间</th>
      <th>点击次数</th>
    </tr>
  </thead>
  <tbody>
    <% @clicks.each do |click| %>
      <tr>
        <td width="40%"><%= click.link ? click.link.url : "-" %></td>
        <td><%= click.member ? "#{click.member.name} <#{click.member.email}>" : "-" %></td>
        <td><%= click.last_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
        <td><%= click.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="focus-center"><%= will_paginate @clicks,:previous_label => "上一页",:next_label => "下一页" %></div>
<% else %>
<div class="focus-center" style="min-height:300px;">链接点击记录为空！</div>
<% end %>


