count:
<%= @click_qt_2_count %>
<table id="report_table" class="table table-striped">
  <thead>
    <tr>
      <th>MemName</th>
      <th>MemEmail</th>
      <th>Campaign_id</th>
      <th>LinkUrl</th>
      <th>ClickCount</th>
    </tr>
  </thead>
  <tbody>
					<% @click_qt_2.each do |click| %>
					<tr>
					<td><%= click.MemName %></td>
					<td><%= click.MemEmail %></td>
					<td><%= click.campaign_id %></td>
					<td><%= click.LinkUrl %></td>
					<td><%= click.ReCount %></td>
					 </tr>
					<% end %>
  </tbody>
</table>

<%= will_paginate @click_qt_2, :render => 'WillPaginate::LinkRender' %>

<script>
$(function() {
  $(".pagination a").live("click", function() {
    $(".pagination").html("data is loading...");
    $.get(this.href, null, null, "script");
    return false;
  });
});
</script>

