<div id="partial_click_wait">
<img src="images/waitting.gif" style="margin-left:250px;margin-top:150px;"/>
</div>
<div id="partial_click_report">
		<div id="report_title" style="margin-bottom: 20px">
					<% if @isCampare %>
				<h2 style="display:inline"> Campaigns对比分析打开(clicks)数据： </h2>
			<% else %>
				<h2 style="display:inline"> <%= @report_click[0][0] %>打开(tracks)数据分析： </h2>
			<% end %>
				<div style="float:right">
								<a onclick="$('#click_form').fadeOut().html('');" class='btn btn-primary'>back</a>
						</div>
		</div>

		<%= high_chart("chart_id1", @h) %>

		<table id="report_table" class="table table-striped">
				<thead>
				  <tr>
				    <th>Template</th>
				    <th>Members</th>
				    
				    <th>Clickers</th>
				    <th>Clicks</th>
				  </tr>
				</thead>
				<tbody>
				  <% @report_click.each do |report| %>
				    <tr>
				      <td><%= report[0] %></td>
				      <td><%= report[1] %></td>

				      <td><%= report[3] %></td>
				      <td><%= report[4] %></td>
				    </tr>
				  <% end %>
				</tbody>
		</table>
</div>
<script type="text/javascript">
$("#partial_click_report").toggleClass("hidden");
setTimeout('$("#partial_click_wait").toggleClass("hidden");$("#partial_click_report").toggleClass("hidden")',500);

</script>
