
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=300, target-densitydpi=150, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Report - Focus Mail</title> 
    <link media="screen" href="/images/2nd/web-icon.gif" type="image/x-icon" rel="shortcut icon">
    

<link rel="stylesheet" type="text/css" href="/win8_report/css/layout.css" />
<link rel="stylesheet" type="text/css" href="/win8_report/css/tiles.css" />
<link rel="stylesheet" type="text/css" href="/win8_report/css/nav.css" />
<link rel="stylesheet" type="text/css" href="/win8_report/themes/theme_default/theme.css" />

<link rel="stylesheet" type="text/css" href="/win8_report/plugins/accordion/plugin.css" />
<link rel="stylesheet" type="text/css" href="/win8_report/plugins/autozoom/plugin.css" />
<link rel="stylesheet" type="text/css" href="/win8_report/plugins/lightbox/plugin.css" />
<link rel="stylesheet" type="text/css" href="/win8_report/plugins/panels/plugin.css" />
<link rel="stylesheet" type="text/css" href="/win8_report/plugins/plugintemplate/plugin.css" />
<link rel="stylesheet" type="text/css" href="/win8_report/plugins/tileflip/plugin.css" />
<link rel="stylesheet" type="text/css" href="/win8_report/plugins/tileslide/plugin.css" />
<link rel="stylesheet" type="text/css" href="/win8_report/plugins/tileslidefx/plugin.css" />
<link rel="stylesheet" type="text/css" href="/win8_report/plugins/tileslideshow/plugin.css" />
<link rel="stylesheet" type="text/css" href="/win8_report/plugins/tiletemplate/plugin.css" />
<link rel="stylesheet" type="text/css" href="/win8_report/plugins/tiletwitter/plugin.css" />
<link rel="stylesheet" type="text/css" href="/win8_report/plugins/tileweather/plugin.css" />


<!--[if lt IE 9]>
<script type="text/javascript" language="javascript" src="/win8_report/js/jquery-1.9.1.min.js"></script>
<script src="/win8_report/js/html5.js">
<![endif]-->
<!--[if gte IE 9]>
<script src="/win8_report/js/jquery-2.0.0b2.js"></script>
<script src="/win8_report/js/html5.js">
<![endif]-->
<!--[if !IE]>
<script src="/win8_report/js/jquery-2.0.0b2.js"></script>
<![endif]-->

<script type="text/javascript">window.jQuery || document.write('<script type="text/javascript" src="/win8_report/js/jquery191.js"><\/script>')</script> 
<script type="text/javascript" language="javascript" src="/win8_report/js/plugins.js"></script>
<script>
scale = 145;
spacing = 10;
theme = 'theme_default';
$group.titles = ["发送分析","名单分析","其他分析"];
$group.spacingFull = [4,4,4];
$group.inactive.opacity = "1";
$group.inactive.clickable = "1";
$group.showEffect = 0;

siteTitle = 'Report - Focus Mail';
siteTitleHome = 'Home';
showSpeed = 400;
hideSpeed = 300;
scrollSpeed = 550;

scrollHeader = "1";
disableGroupScrollingWhenVerticalScroll = "";

/*For background image*/
bgMaxScroll= "130";
bgScrollSpeed = "450";

/*For responsive */
autoRearrangeTiles = "1";
autoResizeTiles = "1";
rearrangeTreshhold = 3;
hidePanelOnClick = '1';
pageTitles=new Array();
pageTitles['typography.php'] = 'Typography';
pageTitles['changelog.php'] = 'Changelog and Bugs';
pageTitles['features.php'] = 'Features';
pageTitles['about.php'] = 'About';
pageTitles['tutorials.php'] = 'Docs and Tutorials';
pageTitles['contact.php'] = 'Contact';
pageTitles['download.php'] = 'Download';
pageTitles['buytemplate.php'] = 'Buy Template';
</script>


<script type="text/javascript" src="/win8_report/plugins/accordion/plugin.js" /></script>
<script type="text/javascript" src="/win8_report/plugins/autozoom/plugin.js" /></script>
<script type="text/javascript" src="/win8_report/plugins/lightbox/plugin.js" /></script>
<script type="text/javascript" src="/win8_report/plugins/panels/desktop.js" /></script>
<script type="text/javascript" src="/win8_report/plugins/plugintemplate/plugin.js" /></script>
<script type="text/javascript" src="/win8_report/plugins/tileflip/plugin.js" /></script>
<script type="text/javascript" src="/win8_report/plugins/tilemedia/plugin.js" /></script>
<script type="text/javascript" src="/win8_report/plugins/tileslide/plugin.js" /></script>
<script type="text/javascript" src="/win8_report/plugins/tileslidefx/plugin.js" /></script>
<script type="text/javascript" src="/win8_report/plugins/tileslideshow/plugin.js" /></script>
<script type="text/javascript" src="/win8_report/plugins/tiletemplate/plugin.js" /></script>
<script type="text/javascript" src="/win8_report/plugins/tiletwitter/plugin.js" /></script>
<script type="text/javascript" src="/win8_report/plugins/tileweather/plugin.js" /></script>
<script type="text/javascript" src="/win8_report/js/functions.js" /></script>
<script type="text/javascript" src="/win8_report/js/main.js" /></script>
<script type="text/javascript" src="/win8_report/plugins/tilemedia/jquery.media.js" /></script>
<script type="text/javascript" src="/win8_report/plugins/tilemedia/jquery.metadata.js" /></script>
<script type="text/javascript" src="/win8_report/plugins/tileweather/jquery.simpleWeather-2.1.2.min.js" />
</script>    
<noscript>
<style>
#tileContainer{display:block}
</style>
</noscript>
<style>
html{background-color:#0F6D32;}

#bgImage { position:fixed; top:0; left:0; z-index:-4; min-width:115%;min-height:100%;
-webkit-transition:margin-left 450ms linear;
-moz-transition:margin-left 450ms linear;
-o-transition:margin-left 450ms;
-ms-transition:margin-left 450ms;
transition:margin-left 450ms;
}
.tile{
-webkit-transition-property: box-shadow, margin-left,  margin-top;
-webkit-transition-duration: 0.25s, 0.5s, 0.5s;
-moztransition-property: box-shadow, margin-left,  margin-top;
-moz-transition-duration: 0.25s, 0.5s, 0.5s;
-o-transition-property: box-shadow, margin-left,  margin-top;
-o-transition-duration: 0.25s, 0.5s, 0.5s;
-ms-transition-property: box-shadow, margin-left,  margin-top;
-ms-transition-duration: 0.25s, 0.5s, 0.5s;
transition-property: box-shadow, margin-left,  margin-top;
transition-duration: 0.25s, 0.5s, 0.5s;
}
</style> 


<style>
 .focus-center{
  margin:0 auto;
  text-align:center;
  float:none;
}

h1 small {
    font-size: 18px;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #999999;
    font-weight: normal;
}
a:hover{
 background:transparent;
 text-decoration:none;
}
</style>

</head>
<body class="full desktop" style="background: transparent;font-weight: lighter;font-family: 微软雅黑">
<img src='/win8_report/img/bg/metro_green.jpg' id='bgImage'/>



<div id="wrapper">
<div id="centerWrapper">
  


    <% @report = report_index(params[:c_id]) %>

  <div id="tileContainer" >
    <img id='arrowLeft' class="navArrows" src='/win8_report/themes/theme_default/img/primary/arrowLeft.png' onClick="javascript:$group.goLeft();"/>
    <img id='arrowRight' class="navArrows" src='/win8_report/themes/theme_default/img/primary/arrowRight.png' onClick="javascript:$group.goRight();"/>
    <a href="#&Home" id="groupTitle0" class="groupTitle" style="margin-left:0px; margin-top:0px" onclick="javascript:$group.goTo(0);"><h3>发送分析</h3></a>
    <a href="#&Download" id="groupTitle1" class="groupTitle" style="margin-left:620px; margin-top:0px" onclick="javascript:$group.goTo(1);"><h3>名单分析</h3></a>
    <a href="#&Support" id="groupTitle2" class="groupTitle" style="margin-left:1240px; margin-top:0px" onclick="javascript:$group.goTo(2);"><h3>其他分析</h3></a>
   <!--1 左上-->
   <a  href='/report/tracks?c_id=<%= params[:c_id]%>' class="tile group0 " style="color:white;margin-top:45px; margin-left:0px;width:300px; height:145px;background:rgb(80, 150, 1);"  data-pos='45-0-300' > 
      <div class='tileDesc' style='margin-left:12px;'>开信人次/开信率</div>
      <div class='tileTitle' style='font-size:50px;height:50px;line-height:50px;vertical-align:sub;text-align:left;padding-left:50px;padding-top:25px;'>
       <%= @report[:track_peo] %>
      </div>
      <div class='tileTitle' style='font-size:40px;height:45px;line-height:45px;vertical-align:top;text-align:right;margin-right:50px;'>
       <%= @report[:send_ok]>0 ? (Float(@report[:track_peo])/Float(@report[:send_ok])*100).round(1).to_s+"%" : "^_^" %>
      </div> 
   </a>
   <!--1 右上-->
   <a  href='/report/template?c_id=<%= params[:c_id]%>' class="tile tileFlip support3D group0" style="background:rgb(254, 46, 100);margin-top:45px; margin-left:310px;width:145px; height:145px;"  data-pos='45-310-145' >  
    <div class='flipContainer'> 
 
     <div class='flipFront' style="background:rgb(254, 46, 100);">
        <div class='flipImgWrapper'>
          <div class='flipImgCenterer'>
            <%= image_tag "/win8_report/img/click_distribution.png" %>
          </div>
        </div>
      </div>
     
      <div class='flipBack' style="background:rgb(254, 46, 100);"><h4 style='color:#FFF;'>查看邮件模板链接点击分析图</h4>
      </div>

      <div class='tileLabelWrapper top' style='border-top-color:rgb(204, 26, 70);'>
        <div class='tileLabel top' >点击分布图</div>
      </div>
      
    </div>
   </a>
  <!--1 左下-->
   <a  href='/report/time?c_id=<%= params[:c_id]%>' class="tile group0 " style="margin-top:200px; margin-left:0px;width:145px; height:145px;background:#11528f;"  data-pos='200-0-145' > 
    <div style='line-height:30px; margin-top:5px;'>
      <div style='color:#FFF;font-size:43px;line-heigt:70px;'><strong>数据</strong></div>
      <span style='color:#FFF;font-size:32px;'><strong>时间</strong></span><span style='color:#CCC;font-size:32px;'>分布</span>
      <div style='font-size:57px;line-height:30px;color:white;'>分析</div>
      <div style='float:right;font-size:37px;line-height:40px;color:white;'>挖掘</div>
    </div>        
   </a>
  
   <!--1 右下-->
   <a  href='/report/clicks?c_id=<%= params[:c_id]%>' class="tile group0 " style="margin-top:200px; margin-left:155px;width:300px; height:145px;background:#FF8000;color:white"  data-pos='200-155-300' > 
    <div class='tileDesc' style='margin-left:12px;'>点击人次/点击率</div>
    <div class='tileTitle' style='font-size:50px;height:50px;line-height:50px;vertical-align:sub;text-align:left;padding-left:50px;padding-top:25px;'>
      <%= @report[:click_peo] %>
    </div>
    <div class='tileTitle' style='font-size:40px;height:45px;line-height:45px;vertical-align:top;text-align:right;margin-right:50px;'>
      <%= @report[:send_ok]>0 ? (Float(@report[:click_peo])/Float(@report[:track_peo])*100).round(1).to_s+"%" : "^_^" %>
    </div>
   </a>
   
   <!--2 左上-->
   <a  href='#' class="tile group1 noClick" style="margin-top:45px; margin-left:620px;width:300px; height:145px;background:#11528f;color:white;"  data-pos='45-620-300' > 
      <div class='tileDesc' style='margin-left:12px;text-align:left;width:90%;'>邮件发送数</div>
      <div class='tileTitle' style='font-size:40px;margin-top:15px;height:55px;line-height:55px;vertical-align:middle;text-align:center;'>
        <%= @report[:send_num] > 0 ? @report[:send_num] : "未出炉"  %>
      </div> 
      
      <div class='tileDesc' style='margin-left:12px;margin-top:-10px;text-align:left;width:90%;'>邮件到达数</div> 
      <div class='tileTitle' style='font-size:40px;height:55px;line-height:55px;vertical-align:middle;text-align:center;'>
        <%= @report[:send_ok] > 0 ? @report[:send_ok] : "未出炉" %>
      </div>
           
   </a>
   <!--2 左下-->
   <a  href='/report/datas?c_id=<%= params[:c_id]%>' class="tile tileSlide up group1 tileFlip" style="margin-top:200px; margin-left:620px;width:145px; height:145px;background:#00BFFF; padding:0;"  data-pos='200-620-145'  data-doslide="1"> 
    <div class='flipContainer'>
      <div class='flipFront' style="">
        <div style="color:white;height:140px;line-height:140px;font-size:30px;text-align:center;vertical-align:middle;">
          <%= @report[:send_num] > 0 ? ((Float(@report[:send_ok])/Float(@report[:send_num])*100).round(1).to_s + "%") : "未出炉" %> 
        </div>
      </div>
      <div class='flipBack' style=""><h4 style='color:white;'></h4>
      </div>
      <div class='tileLabelWrapper top' style='color:white;'>
        <div class='tileLabel top' >邮件到达率</div>
      </div>
    </div>
   </a>
   <!--2 右下-->   
   <a  href='javascript:void(0);' id="tileScroll1_1-1" class="tile tileScroll group1 noClick" style="margin-top:200px; margin-left:775px;width:300px; height:145px;background:#6950ab;color:white"  data-pos='200-775-300' > 
      
      <div class='tileDesc' style='margin-left:12px;text-align:left;width:90%;'>名单总数</div>

      <div class='tileTitle divScroll' style='font-size:40px;margin-top:15px;height:55px;line-height:55px;vertical-align:middle;text-align:center;'>
        <%= @report[:send_num] > 0 ? (@report[:mem_num]>@report[:send_num] ? @report[:send_num] : @report[:mem_num]) : @report[:mem_num] %>
      </div> 

      <div class='tileDesc divScroll' style='margin-left:12px;margin-top:-10px;text-align:left;width:90%;'>无效名单数</div>
      <div class='tileTitle' style='font-size:40px;height:55px;line-height:55px;vertical-align:middle;text-align:center;'>
        <%= @report[:send_num] > 0 ? (@report[:send_num]-@report[:mem_num]).abs : @report[:mem_unvalid] %>
      </div>
 
   </a>
   
   <!--3左上-->
   <a  href='/report/unsubscribe?c_id=<%= params[:c_id]%>' class="tile group2 " style="margin-top:45px; margin-left:1240px;width:300px; height:145px;background:#FF8000;"  data-pos='45-1240-300' > 
    <div style='line-height:30px;margin-top:30px;padding:5px;margin-left:20px;'>
     <span style='color:#EEE;font-size:42px;letter-spacing:0px;'>用户</span> 
     <span style='color:#FFF;font-size:24px;letter-spacing:0px;font-style:italic;'>订阅</span> 
     <span style='color:#FFF;font-size:50px;letter-spacing:4px;font-weight:bold;'>退订</span> 
     <span style='color:#CCC;font-size:36px;letter-spacing:0px;line-height:30px;'>反馈</span>
    </div>    
    <div class='tileLabelWrapper top' style='border-top-color:rgb(205, 88, 0);'>
     <div class='tileLabel top' >退订用户数</div>
    </div>    
   </a>
   <!--3左下-->
   <a  href='/report/domain?c_id=<%= params[:c_id]%>' class="tile tileFlip support3D group2 " style="background:#c82345;margin-top:200px; margin-left:1240px;width:145px; height:145px;"  data-pos='200-1240-145' > 

    <div class='flipContainer'>
     <div class='flipFront' style="background:#c82345;">
        <div class='flipImgWrapper'>
        <div class='flipImgCenterer'>
        <img src="/win8_report/img/domain.png" style=""/>
       </div>
        </div>
        </div>
       <div class='flipBack' style="background:#c82345;"><h3>分析开信用户邮件的域名分布</h3></div>
        </div>
    </a>
    <!--3右上-->
    <a  href='/report/browser?c_id=<%= params[:c_id]%>' class="tile tileFlip support3D group2 " style="margin-top:45px; background:#dea317;margin-left:1550px;width:145px; height:145px;"  data-pos='45-1550-145' > 
      <div class='flipContainer'>
       <div class='flipFront' style="background:#dea317;">
        <div class='flipImgWrapper'>
        <div class='flipImgCenterer'>
        <img src="/win8_report/img/client.png" style=""/>
       </div>
        </div>
        </div>
         <div class='flipBack' style="background:#dea317;"><h3 style='font-size:20px;'>分析用户开信使用的客户端分布</h3></div>
        </div>
    </a>
   <!--3右下-->
   <a  href='/report/user_map?c_id=<%= params[:c_id]%>' class="tile group2 " style="margin-top:200px; margin-left:1395px;width:300px; height:145px;background:#FF8000;"  data-pos='45-1240-300' > 
    <div style='line-height:30px;margin-top:30px;padding:5px;margin-left:20px;'>
     <span style='color:#EEE;font-size:42px;letter-spacing:0px;'>用户</span> 
     <span style='color:#FFF;font-size:24px;letter-spacing:0px;font-style:italic;'>开信</span> 
     <span style='color:#FFF;font-size:50px;letter-spacing:4px;font-weight:bold;'>省会</span> 
     <span style='color:#CCC;font-size:36px;letter-spacing:0px;line-height:30px;'>分布</span>
     <span style='color:#FFF;font-size:36px;letter-spacing:0px;font-style:italic;'>地区</span>
    </div>    
    <div class='tileLabelWrapper top' style='border-top-color:rgb(205, 88, 0);'>
     <div class='tileLabel top' >地理分布</div>
    </div>    
   </a>
   <!--2 右上-->
    <a href='/report/member?c_id=<%= params[:c_id]%>' class="tile tileImg group1 bottom " style="margin-top:45px; margin-left:930px;width:145px; height:145px;background:#509601;"   data-pos='45-930-145' > 
    <div style='line-height:30px; margin-top:5px;'>
      <div style='color:#FFF;font-size:43px;line-heigt:70px;'><strong>域名</strong></div>
      <span style='color:#FFF;font-size:32px;'><strong>名单</strong></span><span style='color:#CCC;font-size:32px;'>无效</span>
      <div style='font-size:57px;line-height:30px;color:white;'>比例</div>
      <div style='float:right;font-size:37px;line-height:40px;color:white;'>图表</div>
    </div> 
     <div class='tileLabelWrapper bottom'><div class='tileLabel bottom' style='border-bottom-color:#509601;'>名单有效性</div>
      <div class='imgDesc' style='display:none;'>分析邮件发送失败原因</div>    
     </div>
    </a>
  </div> 
  <div id="contentWrapper" >       
    <div id="subNavWrapper"></div>
       <div id="content">        
    </div>
  </div>

</div></div>


<div id="catchScroll"></div>
<div id='panel' style='max-width:400px;right:-400px;background-color:#444;'>
<img id='panelArrow' src='/win8_report/themes/theme_default/img/panels/arrow.png' onClick='javascript:hidePanel();'>
<img id='panelLoader' src='/win8_report/themes/theme_default/img/panels/loader.gif'/>
<div id='panelContent'>
</div>
</div></body>
</html>
