

<body style="padding-top:0px">       
  
  <div style="color:#999999;width:900px;margin:0 auto;">
  <% if @tracks.present? %>
    <div class="header">
            开信分析<small>(<%= @track_data.track_num %>次数|<%= @track_data.peo_num %>人次)</small>
     <small style="float: right;">
      <%= link_to "导出数据","/report/export.xls?c_id=#{params[:c_id]}&keyword=track",:class=>"focus-link"%>
     </small>
    </div>
    <table class="table table-striped">
      <thead class="focus-thead">
        <tr>
          <th>会员信息</th>
          <th>最近开信</th>
          <th>开信次数</th>
          <th>浏览器</th>
        </tr>
      </thead>
      <tbody>
        <% @tracks.each do |track| %>
          <tr>
            <td><%= track.member ? "#{track.member.name} <#{track.member.email}>" : "-" %></td>
            <td><%= track.last_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
            <td><%= track.count %></td>
            <% browser,detail_info = browser_info(track.campaign_id,track.member_id,"track") %>
            <td>
                 <a class="focus-rel" rel="tooltip" data-original-title="<%= html_escape(detail_info) %>">
                    <%= browser %>
                 </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  
    <div class="focus-center"><%= will_paginate @tracks,:previous_label => "上一页",:next_label => "下一页" %></div>
  <% else %>
   <div class="focus-center" style="min-height:300px;">开信记录为空！</div>
  <% end %>
  </div>
</body>
